@import url('https://fonts.googleapis.com/css?family=Montserrat:700i');

@media screen and (max-width: 770px) {
  .navbar-right {
    display: none;
  }
}

body {
  padding-top: calc(70px + 0.5vh);
}

#topnav .navbar {
  width: 100%;
  height: 12%;
  margin-bottom: 0;
  border-bottom:none;
  padding-top: 1.5vh;
  background-color: white;
  opacity: 0.9;
  border-bottom: 0.5px solid var(--lightgrey);
  display: block;
}

#topnav .navbar a {
  margin-left: 2vw;
  vertical-align: middle;
  text-decoration: none;
  font-family: 'Montserrat', sans-serif;
  color: 	var(--dark);
  font-weight: 6em;
  font-size: 2.8vh;
  font-size: 2.8vw;
	line-height: 30px;
  /*background: #00cc00;*/
  vertical-align: middle;
}

#topnav .navbar i {
  padding-top: 2.5vh;
  margin-right: 4vw;
  color: #285943;
  font-size: 1.5vh;
  font-size: 1.5vw;
}

#topnav .navbar p {
  padding-top: 2.5vh;
  font-size: 2.5vh;
}

#topnav .navbar i .collapse {
  color: white;
}

i:hover {
  cursor: pointer;
}

.navbar-nav {
  float: right;
}

.collapse {
  border: none;
}
