<!-- <div class="container"> -->


<div id="topnav">
  <nav class="navbar-default navbar navbar-fixed-top">
    <div class="container">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse" aria-expanded="false" aria-controls="topnav">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>

      <div class="navbar-header">
        <a href="#">justForex</a>
      </div>

      <div class="collapse navbar-collapse">
        <i class="fa fa-inbox" aria-hidden="true" routerLink="/chat"></i>
        <i class="fa fa-bell" aria-hidden="true" routerLink="/authentication"></i>
        <i class="fa fa-info" aria-hidden="true"></i> <!-- info -->
        <i class="fa fa-cog" aria-hidden="true"></i> <!-- settings -->
        <i class="fa fa-user" aria-hidden="true" routerLink="/myprofile"></i> <!-- account -->
      </div>
    </div>
  </nav>
</div>
<!-- </div> -->
