<div class="code-editor container">
    <!-- Navbar to select language options -->
    <nav class="navbar navbar-toggleable-md navbar-light bg-faded">
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
        <a class="navbar-brand">{{lang}}</a>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Languages</a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <a class="dropdown-item" (click)="changeLanguage('ruby')">Ruby</a>
                        <a class="dropdown-item" (click)="changeLanguage('javascript')">JavaScript</a>
                        <a class="dropdown-item" (click)="changeLanguage('python')">Python</a>
                    </div>
                </li>
            </ul>
            <div class="btn-group">
                <button class="btn btn-info" (click)="updateStatus()" type="button">Save</button>
                <button [routerLink]="['../../graphs', id]" class="btn btn-primary" type="button">Backtest</button>
                <button routerLink="/dashboard/investor" class="btn btn-success" type="button" data-toggle="modal" data-target="#runModal">Run Live!</button>
            </div>

            <!-- Modal -->
            <div id="runModal" class="modal fade" role="dialog">
                <div class="modal-dialog">

                    <!-- Modal content-->
                    <div class="modal-content">
                        <div class="modal-header">
                            <h4 class="modal-title">Currently running algorithms:</h4>
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                        </div>
                        <div class="modal-body">
                            <div class="alert alert-success">
                                <strong>Queued!</strong> {{title}} will start running live soon - check your projects dashboard in a few moments
                            </div>
                            <table class="table borderless">
                                <tbody>
                                    <tr>
                                        <th>Algorithm</th>
                                    </tr>
                                    <tr>
                                        <td>You have no running algorithms.</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-success"><i class="fa fa-plus" aria-hidden="true"></i> Run another algorithm</button>
                            <button type="button" class="btn btn-default" data-dismiss="modal" routerLink="/dashboard/developer">Go to your projects dashboard</button>
                            <button type="button" class="btn btn-warning" data-dismiss="modal">Close</button>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </nav>
    <!-- The ace editor -->
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <button type="button" class="btn btn-default" routerLink="/dashboard/developer"><i class="fa fa-arrow-left" aria-hidden="true"></i> Back to your projects dashboard</button>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-8">
                <div class="form-group" *ngIf="!isSaved">
                    <label>Enter name:</label>
                    <input type="text" [(ngModel)]="title" class="form-control">
                </div>
                <div class="form-group" *ngIf="!isSaved">
                    <button class="btn btn-default" (click)="isSaved=true">Save new name</button>
                </div>
                <h4 *ngIf="isSaved" (click)="isSaved=false">{{title}}</h4>
                <ace-editor id="editor" class="ace" [(text)]="text" #editor></ace-editor>
            </div>
            <div class="col-xl-4">
                <h3>Python API Reference</h3>
                <div class="panel-group" id="accordion">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title"><a data-toggle="collapse" data-parent="#accordion" href="#collapse1">Currency Prices</a></h4>
                </div>
                <div id="collapse1" class="panel-collapse collapse in">
                    <div class="panel-body">
                        <p>
                            The following currencies are supported:
                        </p>
                        <table class="table-striped table">
                            <tr>
                                <th>
                                    Currency
                                </th>
                                <th>
                                    Indentifier string
                                </th>
                            </tr>
                            <tr>
                                <td>
                                    United States Dollar
                                </td>
                                <td>
                                    USD
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    United Kingdom Pound Sterling
                                </td>
                                <td>
                                    GBP
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    Euro
                                </td>
                                <td>
                                    EUR
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    Swiss Franc
                                </td>
                                <td>
                                    CHF
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    Japanese Yen
                                </td>
                                <td>
                                    JPY
                                </td>
                            </tr>
                        </table>
                        <br />
                        <p>
                            <strong><code>get_price(target_curr, base_curr, time)</code></strong>
                        </p>
                        <p>
                            Returns the exchange rate of <code>target_curr</code> in <code>base_curr</code> at <code>time</code>.
                        </p>
                        <ul>
                            <li>
                                <code>target_curr</code> - string (currency identifier)
                            </li>
                            <li>
                                <code>base_curr</code> - string (currency identifier)
                            </li>
                            <li>
                                <code>time</code> - datetime.datetime
                            </li>
                        </ul>
                        <br />

                        <p>
                            <strong><code>get_prices_in_period(target_curr, base_curr, now, period_length)</code></strong>
                        </p>
                        <p>
                            Returns a list of exchange rates of <code>target_curr</code> in <code>base_curr</code> in the <code>time_period</code> before <code>now</code>.
                        </p>
                        <ul>
                            <li>
                                <code>target_curr</code> - string (currency identifier)
                            </li>
                            <li>
                                <code>base_curr</code> - string (currency identifier)
                            </li>
                            <li>
                                <code>now</code> - datetime.datetime, usually from <code>self.current_time</code>
                            </li>
                            <li>
                                <code>period_length</code> - datetime.timedelta
                            </li>
                        </ul>
                        <br />

                        <p>
                            <strong><code>self.get_price_period_high(self, target_curr, base_curr, period_length)</code></strong>
                        </p>
                        <p>
                            Returns the highest exchange rate of <code>target_curr</code> in <code>base_curr</code> in the <code>time_period</code> before now.
                        </p>
                        <ul>
                            <li>
                                <code>target_curr</code> - string (currency identifier)
                            </li>
                            <li>
                                <code>base_curr</code> - string (currency identifier)
                            </li>
                            <li>
                                <code>period_length</code> - datetime.timedelta
                            </li>
                        </ul>
                        <br />

                        <p>
                            <strong><code>self.get_price_period_low(self, target_curr, base_curr, period_length)</code></strong>
                        </p>
                        <p>
                            Returns the lowest exchange rate of <code>target_curr</code> in <code>base_curr</code> in the <code>time_period</code> before now.
                        </p>

                        <ul>
                            <li>
                                <code>target_curr</code> - string (currency identifier)
                            </li>
                            <li>
                                <code>base_curr</code> - string (currency identifier)
                            </li>
                            <li>
                                <code>period_length</code> - datetime.timedelta
                            </li>
                        </ul>
                        <br />
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title"><a data-toggle="collapse" data-parent="#accordion" href="#collapse2">Economic Indicator Data</a></h4>
                </div>
                <div id="collapse2" class="panel-collapse collapse">
                    <div class="panel-body">
                        <p>
                            Data is provided by the <a href="http://stats.oecd.org/">OECD</a>.
                        </p>

                        <table class="table-striped table">
                            <tr>
                                <th>
                                    Country
                                </th>
                                <th>
                                    Indentifier string
                                </th>
                            </tr>
                            <tr>
                                <td>Australia</td>
                                <td>AUS</td>
                            </tr>
                            <tr>
                                <td>Austria</td>
                                <td>AUT</td>
                            </tr>
                            <tr>
                                <td>Belgium</td>
                                <td>BEL</td>
                            </tr>
                            <tr>
                                <td>Canada</td>
                                <td>CAN</td>
                            </tr>
                            <tr>
                                <td>Chile</td>
                                <td>CHL</td>
                            </tr>
                            <tr>
                                <td>Czech Republic</td>
                                <td>CZE</td>
                            </tr>
                            <tr>
                                <td>Denmark</td>
                                <td>DNK</td>
                            </tr>
                            <tr>
                                <td>Estonia</td>
                                <td>EST</td>
                            </tr>
                            <tr>
                                <td>Finland</td>
                                <td>FIN</td>
                            </tr>
                            <tr>
                                <td>France</td>
                                <td>FRA</td>
                            </tr>
                            <tr>
                                <td>Germany</td>
                                <td>DEU</td>
                            </tr>
                            <tr>
                                <td>Greece</td>
                                <td>GRC</td>
                            </tr>
                            <tr>
                                <td>Hungary</td>
                                <td>HUN</td>
                            </tr>
                            <tr>
                                <td>Iceland</td>
                                <td>ISL</td>
                            </tr>
                            <tr>
                                <td>Ireland</td>
                                <td>IRL</td>
                            </tr>
                            <tr>
                                <td>Israel</td>
                                <td>ISR</td>
                            </tr>
                            <tr>
                                <td>Italy</td>
                                <td>ITA</td>
                            </tr>
                            <tr>
                                <td>Japan</td>
                                <td>JPN</td>
                            </tr>
                            <tr>
                                <td>South Korea</td>
                                <td>KOR</td>
                            </tr>
                            <tr>
                                <td>Latvia</td>
                                <td>LVA</td>
                            </tr>
                            <tr>
                                <td>Luxembourg</td>
                                <td>LUX</td>
                            </tr>
                            <tr>
                                <td>Mexico</td>
                                <td>MEX</td>
                            </tr>
                            <tr>
                                <td>The Netherlands</td>
                                <td>NLD</td>
                            </tr>
                            <tr>
                                <td>New Zealand</td>
                                <td>NZL</td>
                            </tr>
                            <tr>
                                <td>Norway</td>
                                <td>NOR</td>
                            </tr>
                            <tr>
                                <td>Poland</td>
                                <td>POL</td>
                            </tr>
                            <tr>
                                <td>Portugal</td>
                                <td>PRT</td>
                            </tr>
                            <tr>
                                <td>Slovakia</td>
                                <td>SVK</td>
                            </tr>
                            <tr>
                                <td>Slovenia</td>
                                <td>SVN</td>
                            </tr>
                            <tr>
                                <td>Spain</td>
                                <td>ESP</td>
                            </tr>
                            <tr>
                                <td>Sweden</td>
                                <td>SWE</td>
                            </tr>
                            <tr>
                                <td>Switzerland</td>
                                <td>CHE</td>
                            </tr>
                            <tr>
                                <td>Turkey</td>
                                <td>TUR</td>
                            </tr>
                            <tr>
                                <td>United Kingdom</td>
                                <td>GBR</td>
                            </tr>
                            <tr>
                                <td>United States</td>
                                <td>USA</td>
                            </tr>
                            <tr>
                                <td>Euro Area</td>
                                <td>EA19</td>
                            </tr>
                            <tr>
                                <td>Brazil</td>
                                <td>BRA</td>
                            </tr>
                            <tr>
                                <td>China</td>
                                <td>CHN</td>
                            </tr>
                            <tr>
                                <td>Colombia</td>
                                <td>COL</td>
                            </tr>
                            <tr>
                                <td>India</td>
                                <td>IND</td>
                            </tr>
                            <tr>
                                <td>Indonesia</td>
                                <td>IDN</td>
                            </tr>
                            <tr>
                                <td>Russia</td>
                                <td>RUS</td>
                            </tr>
                            <tr>
                                <td>South Africa</td>
                                <td>ZAF</td>
                            </tr>
                        </table>

                        <p>
                            <strong><code>get_interest_rate(indicator, time)</code></strong>
                        </p>
                        <p>
                            Returns the annual base interest rate percentage of the <code>indicator</code> country at <code>time</code>.
                        </p>
                        <ul>
                            <li>
                                <code>indicator</code> - string (country identifier)
                            </li>
                            <li>
                                <code>time</code> - datetime.datetime, usually from <code>self.get_time()</code>
                            </li>
                        </ul>
                        <br />

                        <p>
                            <strong><code>get_inflation_rate(indicator, time)</code></strong>
                        </p>
                        <p>
                            Returns the annual consumer inflation rate percentage of the <code>indicator</code> country at <code>time</code>.
                        </p>
                        <ul>
                            <li>
                                <code>indicator</code> - string (country identifier)
                            </li>
                            <li>
                                <code>time</code> - datetime.datetime, usually from <code>self.get_time()</code>
                            </li>
                        </ul>
                        <br />

                        <p>
                            <strong><code>get_quarterly_growth_rate(indicator, time)</code></strong>
                        </p>
                        <p>
                            Returns the projected quarterly growth rate of the <code>indicator</code> country at <code>time</code>. This is updated at midnight on 1st January, 1st April, 1st July and 1st October.
                        </p>
                        <ul>
                            <li>
                                <code>indicator</code> - string (country identifier)
                            </li>
                            <li>
                                <code>time</code> - datetime.datetime, usually from <code>self.get_time()</code>
                            </li>
                        </ul>
                        <br />

                        <p>
                            <strong><code>get_fitch_credit_rating(indicator, time)</code></strong>
                        </p>
                        <p>
                            Returns the soverign credit rating of the <code>indicator</code> country at <code>time</code> as reported by Fitch Ratings. The return value is an integer between 1 and 24, each representing the following ratings:
                        </p>
                        <table class="table-striped table table-bordered">
                            <tr>
                                <th>Return value</th>
                                <th>Rating</th>
                                <th>Rating description</th>
                            </tr>
                            <tr>
                                <td>1</td>
                                <td>AAA</td>
                                <td>Prime</td>
                            </tr>

                            <tr>
                                <td>2</td>
                                <td>AA+</td>
                                <td rowspan="3">High Grade</td>
                            </tr>
                            <tr>
                                <td>3</td>
                                <td>AA</td>
                            </tr>
                            <tr>
                                <td>4</td>
                                <td>AA-</td>
                            </tr>

                            <tr>
                                <td>5</td>
                                <td>A+</td>
                                <td rowspan="3">Upper Medium Grade</td>
                            </tr>
                            <tr>
                                <td>6</td>
                                <td>A</td>
                            </tr>
                            <tr>
                                <td>7</td>
                                <td>A-</td>
                            </tr>

                            <tr>
                                <td>8</td>
                                <td>BBB+</td>
                                <td rowspan="3">Lower Medium Grade</td>
                            </tr>
                            <tr>
                                <td>9</td>
                                <td>BBB</td>
                            </tr>
                            <tr>
                                <td>10</td>
                                <td>BBB-</td>
                            </tr>

                            <tr>
                                <td>11</td>
                                <td>BB+</td>
                                <td rowspan="3">Non-investment grade speculative
                                </td>
                            </tr>
                            <tr>
                                <td>12</td>
                                <td>BB</td>
                            </tr>
                            <tr>
                                <td>13</td>
                                <td>BB-</td>
                            </tr>

                            <tr>
                                <td>14</td>
                                <td>B+</td>
                                <td rowspan="3">Highly speculative</td>
                            </tr>
                            <tr>
                                <td>15</td>
                                <td>B</td>
                            </tr>
                            <tr>
                                <td>16</td>
                                <td>B-</td>
                            </tr>

                            <tr>
                                <td>17</td>
                                <td>CCC+</td>
                                <td rowspan="3">Substantial risks
                                </td>
                            </tr>
                            <tr>
                                <td>18</td>
                                <td>CCC</td>
                            </tr>
                            <tr>
                                <td>19</td>
                                <td>CCC-</td>
                            </tr>

                            <tr>
                                <td>20</td>
                                <td>CC</td>
                                <td>Extremely speculative</td>
                            </tr>

                            <tr>
                                <td>21</td>
                                <td>C</td>
                                <td>Default imminent</td>
                            </tr>

                            <tr>
                                <td>22</td>
                                <td>DDD</td>
                                <td rowspan="3">In default</td>
                            </tr>
                            <tr>
                                <td>23</td>
                                <td>DD</td>
                            </tr>
                            <tr>
                                <td>24</td>
                                <td>D</td>
                            </tr>
                        </table>
                        <ul>
                            <li>
                                <code>indicator</code> - string (country identifier)
                            </li>
                            <li>
                                <code>time</code> - datetime.datetime, usually from <code>self.get_time()</code>
                            </li>
                        </ul>
                        <br />
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title"><a data-toggle="collapse" data-parent="#accordion" href="#collapse3">The Current State</a></h4>
                </div>
                <div id="collapse3" class="panel-collapse collapse">
                    <div class="panel-body">
                        <p>
                            <strong><code>self.get_wallet()</code></strong>
                        </p>
                        <p>
                            Returns the current state of the wallet as a dictionary object, with currency identifier-to-value mappings.
                        </p>

                        <p>
                            <strong><code>self.get_wallet_in(base_curr)</code></strong>
                        </p>
                        <p>
                            Returns the current values of each currency in your wallet in <code>base_curr</code> as a dictionary object, with currency identifier-to-value mappings.
                        </p>
                        <ul>
                            <li>
                                <code>base_curr</code> - string (currency identifier)
                            </li>
                        </ul>
                        <br />

                        <p>
                            <strong><code>self.get_time()</code></strong>
                        </p>
                        <p>
                            Returns the current time as a datetime object.
                        </p>

                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
            <a data-toggle="collapse" data-parent="#accordion" href="#collapse4">
            Buying and Selling</a>
          </h4>
                </div>
                <div id="collapse4" class="panel-collapse collapse">
                    <div class="panel-body">
                        <p>
                            <strong><code>self.buy(target_curr, base_curr, target_curr_volume)</code></strong>
                        </p>
                        <p>
                            Buy <code>target_curr_volume</code> worth of <code>target_curr</code> using <code>base_curr</code>, if enough <code>base_curr</code> funds are available.
                        </p>
                        <ul>
                            <li>
                                <code>target_curr</code> - string (currency identifier)
                            </li>
                            <li>
                                <code>base_curr</code> - string (currency identifier)
                            </li>
                            <li>
                                <code>target_curr_volume</code> - float
                            </li>
                        </ul>
                        <br />

                        <p>
                            <strong><code>self.sell(base_curr, target_curr, target_curr_volume)</code></strong>
                        </p>
                        <p>
                            Sell <code>base_curr_volume</code> worth of <code>base_curr</code> in return for <code>target_curr</code>, if enough <code>base_curr</code> funds are available.
                        </p>
                        <ul>
                            <li>
                                <code>target_curr</code> - string (currency identifier)
                            </li>
                            <li>
                                <code>base_curr</code> - string (currency identifier)
                            </li>
                            <li>
                                <code>target_curr_volume</code> - float
                            </li>
                        </ul>
                        <br />
                    </div>
                </div>
            </div>
        </div>
            </div>
        </div>
    </div>


    <!-- Buttons that allow saving and running the tests -->
</div>
<form>
    <textarea id="yourcode">
</textarea><br />
    <button class="btn btn-default" type="button" onclick="aceToText()">Run</button>
</form>
<pre id="output"></pre>
<!-- If you want turtle graphics include a canvas -->
<div id="mycanvas"></div>
