.ace {
  width:50vw;
  height: 67.1vh;
  margin-top: -1%;
  overflow: auto;
  position: fixed;
}

.code-editor nav {
  width: 100vw;
  margin-left: -15%;
  margin-top:0vh;
  /*border: none;*/
  /*background-color: white;
  border: 0.3px solid #e6e6e6;*/
  /*z-index: -1;*/
}

.navbar-fixed-bottom {
  border: 1px solid green;
}

.form-inline {
  margin-left: 1%;
  margin-top: 0.8%;
}

button {
  color: var(--green);
}

button:hover {
  color: white;
  border: none;
  background-color: var(--green);
}

.navbar-brand {
  text-transform: uppercase;
}
