<div class="code-editor container">
  <!-- Navbar to select language options -->
  <nav class="navbar navbar-toggleable-md navbar-light bg-faded">
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand" href="#">{{lang}}</a>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Languages
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <a class="dropdown-item"  (click)="changeLanguage('ruby')">Ruby</a>
            <a class="dropdown-item" (click)="changeLanguage('javascript')">JavaScript</a>
            <a class="dropdown-item" (click)="changeLanguage('python')">Python</a>
          </div>
        </li>
      </ul>
        <form class="form-inline">
          <button class="btn btn-outline-success" (click)="addTask($event)" type="button">Save</button>
          <button routerLink="/graphs" class="btn btn-sm align-middle btn-outline-secondary" type="button">Run Backtest</button>
        </form>
    </div>
  </nav>
    <!-- The ace editor -->
    <div class="container">
      <ace-editor id="editor" class="ace"
       [(text)]="text"
       #editor></ace-editor>
    </div>


  <!-- Buttons that allow saving and running the tests -->
</div>
<form>
<textarea id="yourcode">
</textarea><br />
<button class="btn btn-default" type="button" onclick="aceToText()">Run</button>
</form>
<pre id="output" ></pre>
<!-- If you want turtle graphics include a canvas -->
<div id="mycanvas"></div>
