<table class="table table-striped borderless" [mfData]="data" #mf="mfDataTable" [mfRowsOnPage]="5">
    <thead>
    <tr>
        <th style="width: 10%"></th>
        <th style="width: 10%"></th>
        <th style="width: 10%">
            <mfDefaultSorter by="name">Name</mfDefaultSorter>
        </th>
        <th style="width: 20%">
            <mfDefaultSorter [by]="sortByCountry">Country</mfDefaultSorter>
        </th>
        <th style="width: 20%">
            <mfDefaultSorter [by]="sortBySplit">Split</mfDefaultSorter>
        </th>
        <th style="width: 20%">
            <mfDefaultSorter [by]="sortByReturns">Lifetime Returns</mfDefaultSorter>
        </th>
        <th style="width: 10%">
            <mfDefaultSorter [by]="sortByRisk">Risk</mfDefaultSorter>
        </th>
    </tr>
    </thead>
    <tbody>
      <tr *ngFor="let datum of data; let i = index" id="data">

          <td class="align-middle">{{i + 1}}</td>
          <td class="align-middle">
            <span style="width:2vw; height:2vw;"><img src="{{'../../assets/images/' + datum.profile_pic}}"></span>
          </td>
          <td class="information align-middle">
            {{datum.name}}
          </td>
          <td class="information align-middle">{{datum.country}}</td>
          <td class="information align-middle">{{datum.split}} : {{100-datum.split}}</td>
          <td class="align-middle">{{datum.returns | currency:'USD':true:'1.2-2' }}</td>
          <td class="align-middle">{{datum.risk}}</td>
          <td class="align-middle">
            <button class="btn btn-success" data-toggle="modal" [attr.data-target]="'#' + datum._id" (click)="resetSentData()">Make offer</button>
            <button class="btn btn-info"  routerLink="/graphs">Results</button>
          </td>
      </tr>
    </tbody>
    <tfoot>
    <tr>
        <td id="nav" colspan="6">
            <mfBootstrapPaginator [rowsOnPageSet]="[5,10,25]"></mfBootstrapPaginator>
        </td>
    </tr>
    </tfoot>
</table>
