@import url('https://fonts.googleapis.com/css?family=Cabin:600');
table {
    border-collapse: separate;
    text-align: center;
    margin-left: -10%;
    width: 94vw;
    border-spacing:0 1rem;
}

th {
    border: 1px solid black;
    text-align: center;
}

thead tr {
    text-transform: uppercase;
    font-family: 'Cabin', sans-serif;
    color: var(--dark);

}

#c3 {
  z-index: 1151;
}

.borderless td {
    border-top: 3px solid #4F607F;
    border-bottom: 3px solid #4F607F;
}

.borderless th {
  border: none;
}

img {
    float:left;
    border-radius: 50%;
    border: 1px solid grey;
    height:8vh;
    clip-path: circle(4vh at center);
}

td {
    background-color: var(--dark);
    color: white;
    height: 10vh;
}

.btn-success {
    background-color: var(--green);
}

.btn {
  height: 40%;
  margin-top: 5%;
  width: 6vw;
  font-size: 0.9em;
}

#nav {
  background-color: var(--white);
  border: none;
}

.pos {
  background-color: white;
  color: var(--dark)
}

.information {
  background-color: #4F607F;
}
