<div class="type">
    <input id="tab1" type="radio" name="tabs" checked>
    <label id="l1" for="tab1">Investor</label>

    <input id="tab2" type="radio" name="tabs" routerLink="/myprojects">
    <label for="tab2">Developer</label>
</div>

<div class="container">

    <div class="row">
        <div class="col-md-12">
            <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                <ol class="carousel-indicators mydots">
                    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                    <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                    <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
                </ol>
                <div class="carousel-inner" role="listbox">
                    <div class="carousel-item active">
                        <h5 style="text-align: center">Your overall statistics <br /></h5>
                        <br />
                        <img class="d-block img-fluid" src="../../../assets/images/graph.png" alt="First slide">
                    </div>
                    <div class="carousel-item">
                        <h5 style="text-align: center">"IndexWatcher" algorithm <br /></h5>
                        <br />
                        <img class="d-block img-fluid" src="../../../assets/images/graph1.png" alt="Second slide">
                    </div>
                    <div class="carousel-item">
                        <h5 style="text-align: center">"Reactive" algorithm <br /></h5>
                        <br />
                        <img class="d-block img-fluid" src="../../../assets/images/graph2.png" alt="Third slide">
                    </div>
                </div>
                <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-4 well">
            <div class="currentdatapanels">
                <h5>Total equity</h5>
                <p class="green">
                    $10,695
                </p>
            </div>
        </div>
        <div class="col-sm-4 well currentdatapanels">
            <h5>Available to invest</h5>
            <p class="green">
                $2,107
            </p>
        </div>
        <div class="col-sm-4 well currentdatapanels">
            <h5>Value of investments</h5>
            <p class="red">
                $8,588 <span style="font-size: 16px">(-$11.71)</span>
            </p>
        </div>
        &nbsp;
        <br /> &nbsp;
    </div>

    <div class="row">
        <div class="col-md-7">
            <h5>OPEN INVESTMENTS</h5>
            <div id="currentPlayer" class="carousel slide" data-ride="carousel">
                <ol class="carousel-indicators mydots">
                    <li data-target="#currentPlayer" data-slide-to="0" class="active"></li>
                    <li data-target="#currentPlayer" data-slide-to="1"></li>
                    <li data-target="#currentPlayer" data-slide-to="2"></li>
                </ol>
                <div class="carousel-inner" role="listbox">
                    <div class="carousel-item active">
                        <table class="table borderless">
                            <tbody>
                                <tr>
                                    <th>
                                        Algorithm
                                    </th>
                                    <th>
                                        Developer
                                    </th>
                                    <th>
                                        Invested
                                    </th>
                                    <th>
                                        P/L
                                    </th>
                                    <th>
                                        Split
                                    </th>
                                    <th>
                                        Value
                                    </th>
                                </tr>
                                <tr>
                                    <td>
                                        <span style="font-size:16px"><strong>IndexWatcher</strong></span></td>
                                    <td>Maurice Yap<br /><small>(mauriceyap)</small></td>
                                    <td>$1,500</td>
                                    <td class="green">$21<br /><small>(1.4%)</small></td>
                                    <td>70:30</td>
                                    <td class="green">$1,514.70</td>
                                </tr>
                                <tr>
                                    <td>
                                        <span style="font-size:16px"><strong>Relative</strong></span></td>
                                    <td>Abbie Howell<br /><small>(abbiesnail)</small></td>
                                    <td>$1,500</td>
                                    <td class="red">$-9<br /><small>(-0.6%)</small></td>
                                    <td>80:20</td>
                                    <td class="red">$1,491</td>
                                </tr>
                                <tr>
                                    <td>
                                        <span style="font-size:16px"><strong>IndexPoints</strong></span></td>
                                    <td>Phuong Nam Do<br /><small>(npd1998)</small></td>
                                    <td>$2,500</td>
                                    <td class="green">$112.50<br /><small>(4.5%)</small></td>
                                    <td>51:49</td>
                                    <td class="green">$2,557.38</td>
                                </tr>
                                <tr>
                                    <td>
                                        <span style="font-size:16px"><strong>BrexitEqualsProfit</strong></span></td>
                                    <td>Nik Kelg<br /><small>(goonnigel)</small></td>
                                    <td>$800</td>
                                    <td class="red">-$32<br /><small>(-4%)</small></td>
                                    <td>63:37</td>
                                    <td class="red">$768</td>
                                </tr>
                                <tr>
                                    <td>
                                        <span style="font-size:16px"><strong>StrongStablePound</strong></span></td>
                                    <td>Terri May<br /><small>(t3rr1june)</small></td>
                                    <td>$600</td>
                                    <td class="red">-$60<br /><small>(-10%)</small></td>
                                    <td>75:25</td>
                                    <td class="red">$540</td>
                                </tr>
                                <tr>
                                    <td>
                                        <span style="font-size:16px"><strong>RPIAndMarkets</strong></span></td>
                                    <td>Neil Choudry<br /><small>(zubzubzub)</small></td>
                                    <td>$200</td>
                                    <td class="green">$14<br /><small>(7%)</small></td>
                                    <td>45:55</td>
                                    <td class="green">$206.30</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="carousel-item">
                    <table class="table borderless">
                        <tbody>
                            <tr>
                                <th>
                                    Algorithm
                                </th>
                                <th>
                                    Developer
                                </th>
                                <th>
                                    Invested
                                </th>
                                <th>
                                    P/L
                                </th>
                                <th>
                                    Split
                                </th>
                                <th>
                                    Value
                                </th>
                            </tr>
                            <tr>
                                <td>
                                    <span style="font-size:16px"><strong>Floater</strong></span></td>
                                <td>Wark Mealhouse<br /><small>(mjw02)</small></td>
                                <td>$100</td>
                                <td class="green">$6.70<br /><small>(6.7%)</small></td>
                                <td>40:60</td>
                                <td class="green">$102.68</td>
                            </tr>
                            <tr>
                                <td>
                                    <span style="font-size:16px"><strong>MarksAndSparks</strong></span></td>
                                <td>Jacob RM<br /><small>(moggianmemes)</small></td>
                                <td>$100</td>
                                <td class="red">-$2.20<br /><small>(-2.2%)</small></td>
                                <td>68:32</td>
                                <td class="red">$97.80</td>
                            </tr>
                            <tr>
                                <td>
                                    <span style="font-size:16px"><strong>WittyAlgoName</strong></span></td>
                                <td>Bob Messagely<br /><small>(imnotrob)</small></td>
                                <td>$350</td>
                                <td class="green">$4.20<br /><small>(1.2%)</small></td>
                                <td>52:48</td>
                                <td class="green">$352.18</td>
                            </tr>
                            <tr>
                                <td>
                                    <span style="font-size:16px"><strong>TheAttenborough</strong></span></td>
                                <td>James Smith<br /><small>(cjs343)</small></td>
                                <td>$50</td>
                                <td class="green">$0.90<br /><small>(1.8%)</small></td>
                                <td>55:45</td>
                                <td class="green">$50.50</td>
                            </tr>
                            <tr>
                                <td>
                                    <span style="font-size:16px"><strong>AlgoWalksIntoABar</strong></span></td>
                                <td>Rowan Ramsey<br /><small>(rowannnn)</small></td>
                                <td>$600</td>
                                <td class="green">$13.80<br /><small>(2.3%)</small></td>
                                <td>50:50</td>
                                <td class="green">$606.90</td>
                            </tr>
                            <tr>
                                <td>
                                    <span style="font-size:16px"><strong>ElectionNightAlg</strong></span></td>
                                <td>Kate McHockley<br /><small>(katieh99)</small></td>
                                <td>$200</td>
                                <td class="green">$1<br /><small>(0.5%)</small></td>
                                <td>60:40</td>
                                <td class="green">$200.60</td>
                            </tr>
                        </tbody>
                    </table>
                    </div>
                    <div class="carousel-item">
                        <table class="table borderless">
                            <tbody>
                                <tr>
                                    <th>
                                        Algorithm
                                    </th>
                                    <th>
                                        Developer
                                    </th>
                                    <th>
                                        Invested
                                    </th>
                                    <th>
                                        P/L
                                    </th>
                                    <th>
                                        Split
                                    </th>
                                    <th>
                                        Value
                                    </th>
                                </tr>
                                <tr>
                                    <td>
                                        <span style="font-size:16px"><strong>EUInterest</strong></span></td>
                                    <td>Tim Cranston<br /><small>(timinruislip)</small></td>
                                    <td>$100</td>
                                    <td class="green">$0.40<br /><small>(0.4%)</small></td>
                                    <td>65:35</td>
                                    <td class="green">$100.26</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>

                </div>
            </div>
        </div>

        <div class="col-md-5" style="padding-left:5px;">
            <h5>WATCHING ALGORITHMS</h5>
            <div id="suggestedPlayer" class="carousel slide" data-ride="carousel">
                <ol class="carousel-indicators mydots">
                    <li data-target="#suggestedPlayer" data-slide-to="0" class="active"></li>
                </ol>
                <div class="carousel-inner" role="listbox">
                    <div class="carousel-item active">
                        <table class="table borderless">
                            <tbody>
                                <tr>
                                    <th>Algorithm</th>
                                    <th>Developer</th>
                                    <th>P/L</th>
                                    <th>Avg. Split</th>
                                </tr>
                                <tr>
                                    <td><span style="font-size:16px"><strong>DheeYouPea</strong></span></td>
                                    <td>Dheeraj Geetala<br /><small>(dhee103)</small></td>
                                    <td class="green">0.2%</td>
                                    <td>50:50</td>
                                </tr>
                                <tr>
                                    <td><span style="font-size:16px"><strong>OmniWatcher</strong></span></td>
                                    <td>Jake Alvin<br /><small>(jalk1)</small></td>
                                    <td class="green">5.2%</td>
                                    <td>20:80</td>
                                </tr>
                                <tr>
                                    <td><span style="font-size:16px"><strong>FederalReserveFocus</strong></span></td>
                                    <td>Pierre D'Albert<br /><small>(pdapdapda)</small></td>
                                    <td class="red">-6.2%</td>
                                    <td>50:50</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>




    <div class="row col-md-12">
        <div class="well" style="padding: 4px; width: 100%;">
            Price data correct as of 15 minutes ago.
        </div>
    </div>
    <div style="height:150px">
        &nbsp;
    </div>

</div>

<div class="row" style="position: fixed;height: 100px; bottom: 0;left:0;width: 100%;">
    <div class="col">
        <div class="footerboxes" style="background-color: #FFBC20;  ">Lifetime Investments
            <p>
                $34,489
            </p>
        </div>
    </div>
    <div class="col">
        <div class="footerboxes" style="background-color: #11ABFD;">Average profit split
            <p>
                48:52
            </p>
        </div>
    </div>
    <div class="col">
        <div class="footerboxes" style="background-color: var(--green); ">Average profit per week
            <p>
                $619.80
            </p>
        </div>
    </div>
</div>
