<div class="row">
  <div class="col-sm-3">
    <div class="project-box panel panel-default">
      <div class="container">
        <h4><b>Name</b></h4>
        <p>Lang</p>
        <p>Last modified:</p>
        <button class="btn btn-default">Test</button>
        <button class="btn btn-default">View</button>
      </div>
    </div>
  </div>

  <div class="col-sm-3">
    <div class="project-box panel panel-default">
      <div class="container">
        <h4><b>Name</b></h4>
        <p>Lang</p>
        <p>Last modified:</p>
        <button class="btn btn-default">Test</button>
        <button class="btn btn-default">View</button>
      </div>
    </div>
  </div>

  <div class="col-sm-3">
    <div class="project-box panel panel-default">
      <div class="container">
        <h4><b>Name</b></h4>
        <p>Lang</p>
        <p>Last modified:</p>
        <button class="btn btn-default">Test</button>
        <button class="btn btn-default">View</button>
      </div>
    </div>
  </div>

  <div class="col-sm-3">
    <div class="project-box panel panel-default">
      <div class="container">
        <h4><b>Name</b></h4>
        <p>Lang</p>
        <p>Last modified:</p>
        <button class="btn btn-default">Test</button>
        <button class="btn btn-default">View</button>
      </div>
    </div>
  </div>

</div>
