.project-box {
  width: 200px;
  height: 100%;
  transition: 0.3s;
  float: left;
}

/* On mouse-over, add a deeper shadow */
.container:hover {
    background-color: #dfd;
}

/* Add some padding inside the card container */
.container {
    padding: 16px 16px;
}
