<div class="row">
  <img src="../../assets/images/neil.jpg" class="profile col-md-4"/>
  <h2 class="align-middle">Neil95</h2>
</div>

<div class="row">
  <div class="col-md-4 card">
    <h4>
      Total profits made: $1202.43<br />
      Average risk rating: 5.2/10<br />
      Average profit split: 23:77<br />
      Most profitable algorithm: Reactive<br />
    </h4>
  </div>

  <div class="col-md-8">
    <h5>OPEN INVESTMENTS</h5>
    <div id="currentPlayer" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
      <li data-target="#currentPlayer" data-slide-to="0" class="active"></li>
      <li data-target="#currentPlayer" data-slide-to="1"></li>
      <li data-target="#currentPlayer" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner" role="listbox">
      <div class="carousel-item active">
        <table class="table borderless">
          <tbody>
            <tr>
              <td>Index Watcher</td>
              <td>50:50</td>
              <td>$12</td>
              <td>
                <button class="btn btn-success"  data-toggle="modal" data-target=".bd-example-modal-lg" (click)="resetSentData()">Make offer</button>
              </td>
              <td>
                <button class="btn btn-info"  data-toggle="modal" data-target=".bd-example-modal-lg" (click)="resetSentData()">Results</button>
              </td>
            </tr>
            <tr>
              <td>Index Watcher</td>
              <td>50:50</td>
              <td>$12</td>
              <td>
                <button class="btn btn-success"  data-toggle="modal" data-target=".bd-example-modal-lg" (click)="resetSentData()">Make offer</button>
              </td>
              <td>
                <button class="btn btn-info"  data-toggle="modal" data-target=".bd-example-modal-lg" (click)="resetSentData()">Results</button>
              </td>
            </tr>
            <tr>
              <td>Index Watcher</td>
              <td>50:50</td>
              <td>$12</td>
              <td>
                <button class="btn btn-success"  data-toggle="modal" data-target=".bd-example-modal-lg" (click)="resetSentData()">Make offer</button>
              </td>
              <td>
                <button class="btn btn-info"  data-toggle="modal" data-target=".bd-example-modal-lg" (click)="resetSentData()">Results</button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="carousel-item">
        <table class="table borderless">
          <tbody>
            <tr>
              <td>Index Watcher</td>
              <td>50:50</td>
              <td>$12</td>
              <td>
                <button class="btn btn-success"  data-toggle="modal" data-target=".bd-example-modal-lg" (click)="resetSentData()">Make offer</button>
              </td>
              <td>
                <button class="btn btn-info"  data-toggle="modal" data-target=".bd-example-modal-lg" (click)="resetSentData()">Results</button>
              </td>
            </tr>
            <tr>
              <td>Index Watcher</td>
              <td>50:50</td>
              <td>$12</td>
              <td>
                <button class="btn btn-success"  data-toggle="modal" data-target=".bd-example-modal-lg" (click)="resetSentData()">Make offer</button>
              </td>
              <td>
                <button class="btn btn-info"  data-toggle="modal" data-target=".bd-example-modal-lg" (click)="resetSentData()">Results</button>
              </td>
            </tr>
            <tr>
              <td>Index Watcher</td>
              <td>50:50</td>
              <td>$12</td>
              <td>
                <button class="btn btn-success"  data-toggle="modal" data-target=".bd-example-modal-lg" (click)="resetSentData()">Make offer</button>
              </td>
              <td>
                <button class="btn btn-info"  data-toggle="modal" data-target=".bd-example-modal-lg" (click)="resetSentData()">Results</button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="carousel-item">
        <table class="table borderless">
          <tbody>
            <tr>
              <td>Index Watcher</td>
              <td>50:50</td>
              <td>$12</td>
              <td>
                <button class="btn btn-success"  data-toggle="modal" data-target=".bd-example-modal-lg" (click)="resetSentData()">Make offer</button>
              </td>
              <td>
                <button class="btn btn-info"  data-toggle="modal" data-target=".bd-example-modal-lg" (click)="resetSentData()">Results</button>
              </td>
            </tr>
            <tr>
              <td>Index Watcher</td>
              <td>50:50</td>
              <td>$12</td>
              <td>
                <button class="btn btn-success"  data-toggle="modal" data-target=".bd-example-modal-lg" (click)="resetSentData()">Make offer</button>
              </td>
              <td>
                <button class="btn btn-info"  data-toggle="modal" data-target=".bd-example-modal-lg" (click)="resetSentData()">Results</button>
              </td>
            </tr>
            <tr>
              <td>Index Watcher</td>
              <td>50:50</td>
              <td>$12</td>
              <td>
                <button class="btn btn-success"  data-toggle="modal" data-target=".bd-example-modal-lg" (click)="resetSentData()">Make offer</button>
              </td>
              <td>
                <button class="btn btn-info"  data-toggle="modal" data-target=".bd-example-modal-lg" (click)="resetSentData()">Results</button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  </div>
</div>
