.card {
  height: 15vh;
  margin-top: 3%;
}

.row:hover {
  cursor: pointer;
}

img {
  height: 13vh;
  margin-top: 0.5vh;
}

.group {
  margin: auto;
}

.fa-check{
  color: green;
}

.modal-title, h1 {

}

button, html [type=button] {
    -webkit-appearance: button;
    font-size: x-large;
    /*display: flex;
    align-items: center;
    justify-content: center;*/
  }

.leftB {
}

p.f {
  font-size: 1.5em;
  display: inline-block;
}

.bold, .boldRight {
  display: inline-block;
  font-weight: bold;
  font-size: 1.5em;
}

.boldRight {
  float: right;
}

i.big-icon, i.cross, i.pending {
  font-size: 2em;
  vertical-align: middle;
}

i.cross {
  color: red;
}

i.pending {
  color: orange;
}
