<div class="container">
	<div class="row">
		<div class="col-sm-6 col-md-6">
			<div [ng2-highstocks]="chartStock" class="graph"></div>
		</div>
		<div class="col-sm-6 col-md-6">
			<div [ng2-highstocks]="winLoss" class="graph"></div>
		</div>
		<div class="col-sm-6 col-md-6">
			<div [ng2-highstocks]="vot" class="graph"></div>
		</div>
		<div class="col-sm-6 col-md-6">
			<div [ng2-highcharts]="ttpc"></div>
		</div>
		<div class="col-sm-6 col-md-6">
			<div [ng2-highcharts]="stpc"></div>
		</div>
		<div class="col-sm-6 col-md-6">
			<div [ng2-highcharts]="btpc"></div>
		</div>
	</div>
</div>

<button class="btn btn-default btn-lg" (click)="sendFileBacktest('59301de19e3d5940a00128ed')">CLICK TO TEST</button>
