@import url('https://fonts.googleapis.com/css?family=Source+Code+Pro');

:root {
  --white: #FAFBFC;
  --lightgrey: #DCE2E9;
  --dark: #363E4D;
  --grey: #A9AAAE;
  --darkgreen: #6F978A;
  --green: #65D292;
  --greygreen: #B4CFC8;
  --blue: #88D3F6;
}

body {
  font-family: 'Lato', sans-serif;
  padding-top: 10px;
  /*margin:0 auto;
  text-align:center;*/
  height: 100%;
  background: var(--white);
}

#loading {
  color: #65D292;
  font-family: 'Source Code Pro', monospace;
  font-size: 40px;
  margin: 10px 0 0 10px;
  white-space: nowrap;
  overflow: hidden;
  width: 100%;
  margin-left: 50%;
  animation: type 4s steps(60, end);

  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

p:nth-child(2){
  animation: type2 8s steps(60, end);
}

p a{
  color: lime;
  text-decoration: none;
}

.blink {
  animation: blink 1s infinite;
}

@keyframes type{
  from { width: 0; }
}

@keyframes type2 {
  0%{width: 0;}
  50%{width: 0;}
  100%{ width: 100; }
}

@keyframes blink{
  to{opacity: .0;}
}
