<div class="type">
  <input id="tab1" type="radio" name="tabs" routerLink="/dashboard">
  <label id="l1" for="tab1">Investor</label>

  <input id="tab2" type="radio" name="tabs" checked>
  <label for="tab2">Developer</label>
</div>

<div class=all-projects>
    <project-box *ngFor="let project of projects"
      [project]="project">
    </project-box>
</div>
<button type="button" style="padding: 10px 16px;" class="btn btn-lg btn-success btn-block"><i class="fa fa-plus" aria-hidden="true"></i> Create new project</button>
