.type {
  margin-top: -10px;
  position: fixed;
  width: 100vw;
  margin-left: -11%;
  z-index: 10;
  /*opacity: 0.9;*/
  background-color: white;
}

.all-projects {
  margin-top: 70px;
  width: 80%;
  float: right;
}

@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600,700');
@import url('https://netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.css');

/*
*, *:before, *:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}*/

input {
  display: none;
}

label {
  display: inline-block;
  margin: 0 0 -1px;
  padding: 15px 25px;
  font-weight: 600;
  font-size: 1.5em;
  text-align: center;
  /*color: #white;*/
  border: 1px solid transparent;
}

#l1 {
  /*color: white;*/
  margin-left: 35%;
  background-color: var(--green);
}

#l2 {
  color: white;
  /*margin-left: 35%;*/
  background-color: orange;
}

label:before {
  font-family: fontawesome;
  font-weight: normal;
  margin-right: 10px;
}

label[for*='2']:before { content: '\f120'; }
label[for*='1']:before { content: '\f201' }

label:hover {
  color: #888;
  cursor: pointer;
}

input:checked + label {
  color: white;
  /*border: 1px solid #ddd;*/
  background-color: orange;
  /*border-top: 2px solid orange;*/
  /*border-bottom: 1px solid #fff;*/
  border-bottom: solid;
  border-bottom-width: thick;
  border-bottom-color: black;
}

#tab1:checked ~ #content1,
#tab2:checked ~ #content2,
{
  display: block;
}

@media screen and (max-width: 650px) {
  label {
    font-size: 0;
  }
  label:before {
    margin: 0;
    font-size: 18px;
  }
}

@media screen and (max-width: 400px) {
  label {
    padding: 15px;
  }
}

h5 {
  color: var(--dark);
  font-weight: bold;
  font-size: 1.7em;
}

td {
    background-color: white;
    color: var(--dark);
    height: 10vh;
}

table {
    border-collapse: separate;
    text-align: center;
    border-spacing:0 1rem;
}
